.home.main {
  .wrapper {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
      padding: 20px;
      height: 200px;
      h3 {
        margin-bottom: 10px;
        height: 30%;
        border-bottom: 1px solid #aaa;
      }
      h4 {
        padding-bottom: 5px;
      }
      ul {
        box-shadow: inset 1px 1px 20px 1px rgba(0, 0, 0, 0.203);
        padding: 10px;
        height: 80px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .home.main {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 750px) {
  .home.main {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}